[Unit]
Description=docker swarm (agent)
After=docker.service
After=consul.service
PartOf=docker.service
Requires=consul.service

[Service]
Restart=on-failure
RestartSec=20

ExecStartPre=-/usr/bin/docker rm -f swarm-agent
ExecStart=/usr/bin/docker run --rm \
    --name swarm-agent \
    swarm join \
    --advertise "{{ private_ipv4 }}:{{ swarm_agent_port }}" \
    {% if do_consul_ssl -%}
    {% for discovery_opt in swarm_tls_discovery_options -%}
    --discovery-opt {{ discovery_opt }} {% if not loop.last %}\{% endif %}
    {%- endfor %}
    {%- endif %}
    consul://consul.service.consul:8500/nodes

ExecStop=/usr/bin/docker kill swarm-agent

[Install]
WantedBy=multi-user.target
