[Unit]
Description=docker swarm (agent)
After=docker.service
After=consul.service
PartOf=docker.service
Requires=consul.service

[Service]
Restart=always
RestartSec=20
TimeoutStartSec=20m

ExecStartPre=-/usr/bin/docker rm -f swarm-agent
ExecStartPre=-/usr/bin/docker pull {{ swarm_image }}
ExecStart=/usr/bin/docker run \
    --rm \
    --name=swarm-agent \
    --volume={{ swarm_ca_cert.host }}:{{ swarm_ca_cert.container }}:ro \
    --volume={{ swarm_host_cert.host }}:{{ swarm_host_cert.container }}:ro \
    --volume={{ swarm_key_file.host }}:{{ swarm_key_file.container }}:ro \
    {{ swarm_image }} join \
    --advertise {{ private_ipv4 }}:{{ swarm_agent_port }} \
    {% if do_consul_ssl -%}
    --discovery-opt "kv.cacertfile={{ swarm_ca_cert.container }}" \
    --discovery-opt "kv.certfile={{ swarm_host_cert.container }}" \
    --discovery-opt "kv.keyfile={{ swarm_key_file.container }}" \
    {% endif -%}
    consul://consul.service.consul:8500/nodes

ExecStop=/bin/bash -c " \
    /usr/bin/docker kill swarm-agent && \
    /usr/bin/docker rm -f swarm-agent"

[Install]
WantedBy=multi-user.target
